MB_COUNTRY=Malta
MB_PHONE=99011190
MB_PIN=2468

# BrowserStack
BROWSERSTACK=true
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BS_APP_ANDROID=
BS_APP_IOS=
BS_PROJECT=moneybase_wdio
BS_BUILD=
BS_ANDROID_DEVICE=Google Pixel 6
BS_ANDROID_OS=13.0
BS_IOS_DEVICE=iPhone 14
BS_IOS_OS=16
